#credits {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  
  .ending-credits {
    text-align: center;
    width: 100%;
    font-size: 12px;
    
  }