#credits {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
.ending-credits {
    text-align: center;
    width: 100%;
    font-size: 12px;
    
  }
@media only screen and (max-width: 992px) {
    .ending-credits {
        font-size: 9px;
        
      }
}