.Navbar {
    display: flex;
    opacity: .8;
    width: 96vw;
    justify-content: center;   
}

.Navbar a{
    text-decoration: none;
    color: black;
    font-weight: 700;    
}

.Navbar li{
    float: left;
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;  
}

.Navbar li:hover{
    background-color: #c8d5b9;
}


@media only screen and (max-width: 992px) {
    .navContainer {
        display: flex;
        width: 90vw;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        margin: 0;
        
    }
    .Navbar {
        text-align: center;     
    }
    .Navbar li {
        text-decoration: underline;
        font-size: 16px;
        padding: 5px;  
    }
    .Navbar li:hover{
        background-color: transparent;
    }
  }


  /* @media only screen and (max-width: 768px) {
    .navContainer {
        display: flex;
        width: 100vw;
        justify-content: left;
        padding-bottom: 10px;
        margin: 0;
        
    }
    .Navbar {
        text-align: center;     
    }
    .Navbar li {
        text-decoration: underline;
        font-size: 28px;
        padding: 8px;
    }
  } */



