.intro{
    background-image: url('https://i.pinimg.com/564x/ea/d6/9a/ead69acce05bc8ab9bf92879264871ae.jpg');
    width: 28%;
    margin-left:auto;
    margin-right: auto;
    border-right: 1px dotted #dad7cd;
    border-left: 1px dotted #dad7cd;
    opacity: .8; 
}

.Title{
    font-size: 50px;
    text-align: center;
}

.ListText{
    background-image: url('https://img.freepik.com/free-photo/crumpled-white-paperboard_95678-119.jpg?w=1060&t=st=1682950549~exp=1682951149~hmac=f57f92a5e33930032da385fbc026693efe6ee16bb4f64e0ad8304dc5b1b40fd2');
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-right: 1px dotted #dad7cd;
    border-left: 1px dotted #dad7cd;
    opacity: .7;
    padding: 15px 24px;
    flex-wrap: wrap;
}

.ListText p{
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .intro{
        display: flex;
        flex-wrap:wrap;
        width: 50vw;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .Title{
    font-size: 26px;
    }
    .ListText{
        width: 40%;
        height: 30%;
        margin-left: auto;
        margin-right:auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ListText p {
        font-size: large;
    }
    img{
        display: none;
    }
}