.FormControl {
    display: flex;
    width: 100%;
    justify-content: center;   
}
.formTitle{
    height: 10px;
}
.TodoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;   
}
.ButtonContainer{
    padding-top: 5px;
}

@media only screen and (max-width: 992px) {
    .TodoForm{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        word-wrap: break-word;
    }
    .formTitle{
        height: 15px;
    }
    .ButtonContainer{
        display: flex;
        justify-content: center;
    }
 
}








