.TodoForm {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 30px; 
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .TodoForm{
        font-size: 22px;
        display: flex;
        width: 50vw;
        align-items: center;
    }
}








