/* @import url('https://fonts.googleapis.com/css2?family=NTR&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=NTR&family=Roboto+Mono&display=swap');
body {
    background-image: url('https://i.pinimg.com/564x/ac/24/19/ac2419ccc813a1ce5661a1a83fe72a04.jpg');
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}
button {
    background-color:#a4c3b2;
    opacity: .6;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #fff;
    border-radius: 10px;
    color: black;
    padding: 4px 15px;
    font-size: 13px;
    cursor: pointer;
}

button:hover{
    background: #c8d5b9; 
    border: 1.5px solid #fff;
}

/* change background color 
add fonts to glbal */

@media only screen and (max-width: 992px) {
    body{
    overflow-x: hidden;
    }

}